html, body {
	width: 100%;
	height: 100%;
}

body {
	background-image: url('../img/table.jpg');
	background-repeat: round;
	overflow: hidden;
}

#tapis {
	background-image: url('../img/tapis.jpg');
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    background-repeat: round;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.72);
}


/* playing cards size */
.playingCards .card {
	font-size: 1.5em;
}

/* playing cards fixes */
.playingCards .card.back {
	text-indent: initial;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
}
.playingCards .card { box-sizing: initial; }
/* animations */
ul.hand, ul.hand li {transition: all 500ms ease;}

/* bootstrap fixes */
.popover { /* popover below modal (1050) */
	z-index: 1040;
}
/*
TRANSLATION
	HORIZONTAL
length:

	VERTICAL
length
	1: 1
	2: 1 1
	3: 1.5 1 1.5
espacement = 0.5
eloignement = Math.abs ((i+1) - nb cartes/2)
translate = base + eloignement * espacement = 1+ Math.abs (((i+1)-nb/2)*0.5)
3/8 = 1+abs(4-4)*0.5 - 1 
4/8 = 1+abs(5-4)*0.5 = 1.5

ROTATION
length
	1: 0
	2: -6 6
	3: -12 0 12
	4: -18 -6 6 18
ex pour 3
espacement = 12
total rotation = (nb cartes-1)*12 = (nb-1)*e = 24
offset gauche = -total rotation / 2 = (nb-1)*e/-2 = -12
rotation = offset gauche + i * espacement = (nb-1)*e/-2+i*e = e*((nb-1)/-2+i)
rotate(e*((nb-1)/-2+i)deg);
*/

/* BUTTONS */
#settings-btn {
	position: absolute;
	top: 15px;
	right: 15px;
}

/* PLI */
.pli {
	position: absolute;
    top: 50%;
    left: 50%;
    transition: all 500ms ease;
}
.pli.west  { transform: translate(-100%,-50%) rotate(-30deg);}
.pli.north { transform: translate( -50%,-90%) rotate( 30deg);}
.pli.est   { transform: translate(   0%,-50%) rotate(-50deg);}
.pli.south { transform: translate( -60%,-20%) rotate(200deg);}

.pli.fly_west, .pli.fly_north, .pli.fly_est, .pli.fly_south { opacity: 0; }
.pli.fly_west, .pli.fly_est   { transform: translateY(-50%) rotate(90deg) !important; }
.pli.fly_north, .pli.fly_south { transform: translateX(-50%) !important; }
.pli.fly_west  { left: 0%;   }
.pli.fly_north { top:  0%;   }
.pli.fly_est   { left: 100%; }
.pli.fly_south { top: 100%;  }

#deck {
	display: block;
	position: absolute;
	bottom: 0em;
    right: 10px;
	width: 100px;
}

#scoreboard {
    padding-left: 26px;
    background-image: url('../img/scoreboard.jpg');
    background-size: cover;
    font-family: 'Pacifico', cursive;
    position: absolute;
    bottom: -10px;
    left: 15px;
    width: 230px;
    height: 200px;
    transform: rotate(-5deg);
    box-shadow: 4px 3px 6px 0px #343434;
    font-size: 1.2em;
    text-align: center;
    white-space: nowrap;
    color: #444;
}
#teams {
	border-bottom: 2px solid #444;
}
#scores {
	height: 110px;
    overflow-y: scroll;
}
#totals {
	border-top: 2px solid #444;
}
#pencil {
    width: 100px;
    position: absolute;
    bottom: 25px;
    transform: rotate(130deg);
    left: -7px;
}

.outerhand { position: absolute !important; height: 8em; width: 20em;}
.outerhand.south { bottom: 100px; left: 50%; transform: translateX(-50%);}
.outerhand.west  { top: 50%; left: 0%; margin-top: -4em; }
.outerhand.north { top: 100px; left: 50%; transform: translateX(-50%);}
.outerhand.est   { top: 50%; right: 0%; margin-top: -4em;}

ul.hand { margin: 0 auto !important; } /* centrer dans le container !conflict cards.css*/
.hand.south { transform: rotate(0deg); }
.hand.west  { transform: rotate(90deg); }
.hand.north { transform: rotate(180deg); }
.hand.est   { transform: rotate(-90deg); }


.avatar {
	position: absolute !important;
	background-color: #2E3339;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	height: 86px;
	z-index: 1; /* au dessus de sa main */
}
.avatar.south { bottom: 0%; left: 50%; transform: translateX(-50%); margin-bottom: 5px; }
.avatar.west  { top: 50%; left: 0%; transform: translateY(-50%); margin-left:   5px; }
.avatar.north { top: 0%; left: 50%; transform: translateX(-50%); margin-top:    5px; }
.avatar.est   { top: 50%; right: 0%; transform: translateY(-50%); margin-right:  5px; }

.nickname {
	display: block;
	text-align: center;
	color: #ddd;
}

.noir {
	font-size: 2em;
	color: black;
}
.rouge {
	font-size: 2em;
	color: red;
}
.annonce.hearts:after { content: "\2665"; color: red; font-size: large;}
.annonce.clubs:after { content: "\2663"; color: black; font-size: large;}
.annonce.diams:after { content: "\2666"; color: red; font-size: large;}
.annonce.spades:after { content: "\2660"; color: black; font-size: large;}


